* {
  margin: 0;
  box-sizing: border-box;
  font-weight: bold;
  font-family: 'Bebas Neue', sans-serif;
  color: var(--secondary-color);
}

:root {
  --primary-color: #ffaac7;
  --secondary-color: #024e76;
  --tertiary-color: /*#39a6b2*/ #a3d8df;
  --shadow: rgba(0, 0, 0, 0.5);
}

  /* start body */

  .body {
    background-color: var( --tertiary-color);
  }

  .background {
    background-color: var(--tertiary-color);
  }

    /* start header */

    header {
      background-color: var(--primary-color);
    }

    h1, h2, h3, h4 {
      text-shadow: 0 0 10px var(--shadow);
    }

    header h1 {
      font-family: 'Bebas Neue', sans-serif, cursive;
      font-style: italic;
      font-size: 20vw;
      text-shadow: 0 0 10px var(--shadow);
    }

      /* start joke */

      #jokeP {
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
        text-shadow: 0 0 15px var(--shadow);
      }

      /* end joke */
    /* end header */
  /* start travel */
    /* start things to see */

    #travel {
        display: none;
    }

    .ratiocheckbox {
        color: var(--secondary-color);
        text-shadow: 0 0 10px var(--shadow);
    }

    label {
        font-family: 'Montserrat', sans-serif;
        margin-right: 5px;
    }

    /* end things to see */
    /* start map intput */
      /* start input form */

      .formBlock {
        font-family: 'Montserrat', sans-serif;
        background-color: #FFF;
        border: 1px solid #ddd;
        margin-bottom: 20px;
        box-shadow: 0 1px 5px rgba(0,0,0,0.65);
        border-radius: 5px;
      }

      .input {
        padding: 10px;
        width: 100%;
        border: 1px solid #ddd;
        font-size: 15px;
        border-radius: 3px;
      }

      #getDirections {
        font-family: 'Bebas Neue', sans-serif;
        font-weight: normal;
      }

      /* end input form */
      /* start map */

      #map {
        height:400px;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 1px 5px rgba(0,0,0,0.65);
      }

      .leaflet-top .leaflet-control {
        margin-bottom: 10px;
      }

      /* end map */
    /* end map input */
  /* end travel */
  /* start places to see */

  #places-container {
    font-family: 'Montserrat', sans-serif;
  }

  /* end places to see */
  /* start history */

  #clear-history {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: normal;
  }

  input:nth-child(1) {
    margin-bottom: 10px;
  }
  
  /* end history */

  #text {
    text-shadow: 0 0 10px var(--shadow);
    color: var(--secondary-color);
  }

  @media (max-width: 600px) {
    .chuck {
      margin-top: 20px;
    }

    #form1 {
      margin-bottom: 50px;
      padding: 0;
      margin: 0;
    }
  }

  @media (min-width: 601px) {
    .chuck {
      margin-top: 11px;
    }
  }

  /* end body */