* {
  margin: 0;
  padding: 10px 10px 10px 10px;
  box-sizing: border-box;
  font-style: italic;
  font-weight: bold;
  font-family: 'Bebas Neue', cursive;
 
}

:root {
  --primary-color: #f48fb1;
  --secondary-color: #024e76;
  --tertiary-color: #39a6b2;
  --shadow: rgba(0, 0, 0, 0.5);
}

.body {
  background-color: var( --tertiary-color);
}

header {
  background-color: var(--primary-color);
}

header h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 100px;
  text-shadow: 0 0 10px var(--shadow);
}

#header-img {
  width: 1vh;
}

.row {
  color: var(--secondary-color);
}

.background {
  background-color: var(--tertiary-color);
}

.circle responsive-img col s2 {
  display: flex;
  flex-wrap: wrap;
}

header h2 {
  text-shadow: 0 0 10px var(--shadow);
}

header h4 {
  text-shadow: 0 0 10px var(--shadow);
}

section h2 {
  text-shadow: 0 0 10px var(--shadow);
}

#jokeP {
  font-size: 30px;
  font-style: italic;
  text-shadow: 0 0 10px var(--shadow);
}


#map {
  height:400px;
  width: 50%;
  position: absolute;
  right:50px;
  bottom:1opx;
}

.formBlock {
  font-family: 'Courier New', Courier, monospace;
  max-width: 600px;
  background-color: #FFF;
  border: 1px solid #ddd;
  position: absolute;
  top: 615px;
  
  padding: 10px;
  z-index: 999;
  box-shadow: 0 1px 5px rgba(0,0,0,0.65);
  border-radius: 5px;
  
}

.leaflet-top .leaflet-control {
  margin-bottom: 10px;
}

.input {
  padding: 10px;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 15px;
  border-radius: 3px;
}

#form1 {
  padding: 0;
  margin: 0;
}

.ratiocheckbox {
  color: darkblue;
  text-shadow: 0 0 10px var(--shadow);
}

input:nth-child(1) {
  margin-bottom: 10px;
}
section h3 {
  text-shadow: 0 0 10px var(--shadow);
}

section h4 {
  text-shadow: 0 0 10px var(--shadow);
}

#text {
  text-shadow: 0 0 10px var(--shadow);
  color: var(--secondary-color);
}